*{
  margin: 0px;
  padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+AU+VIC:wght@100..400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

body{
  font-family:"Lato", sans-serif ;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8) ;
  overflow-x: hidden;
}

.bg-green{
  background: #2c5f29;
}

@media (min-width:1300px){
  .container, .container-lg, .container-md, .container-sm, .container-xl{
     max-width: 90%;
  }
}


/* @media (max-width:1300px){
  nav .navPart2{
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    
    transition: all 0.2s ease-in-out;
    border-radius: 25px;
  }
} */

.cursor{
  cursor: pointer;
}

.textLight{
  color: #535353;
}

.text-sml{
  font-size: 14px;
}
.headerWrapper{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.headerWrapper .top-strip {
  padding: 8px 0px;
}

.headerWrapper .top-strip p {
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.headerWrapper .header{
  width:100%;
  height: auto;
 
}

.logoWrapper img {
  width:100%;
  padding: 15px 0px;
}

header .headerSearch{
  width: 60%; 
  height: 50px;
  background: #f3f4f7;
  padding: 0 10px;
  position: relative;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

header .headerSearch input {
  background: transparent !important; 
  outline: none !important; 
  font-size: 16px; 
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%; 
  border: 0px !important;
  padding: 0px 20px !important;
  
  display: flex;
  align-items: center;
}

header .headerSearch input::-webkit-input-placeholder{
  color: rgba(0, 0, 0, 0.8);
}

header .headerSearch button {
  position: absolute;
  top:50%; 
  right:15px; 
  z-index: 100;
  min-width: 40px !important;
  height: 40px !important;
  width:40px !important; 
  border-radius: 50% !important;
  color: black;
  transform: translateY(-50%);
}

header .headerSearch button svg{
  font-size: 25px;
}

header .part3 .circle{
  align-items: center;
  justify-content: center;
  min-width: 50px !important;
  height: 50px !important; 
  width: 50px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: black;
}

header .part3 .circle svg{
  font-size: 25px;
}

.cartTab .price{
  font-size:16px;
  font-weight: 700;
}

.cartTab .count{
  position: absolute; 
  top:-5px;
  right: -2px;
  background: rgb(220, 26, 26);
  border-radius: 50%;
  color: white;
  width: 20px;
  height: 20px;

}

/* stolem code */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* stolem code */

nav .allcatTable{
  background: #2c5f29;
  padding: 8px 30px;
  border-radius: 30px;
}

nav .allcatTable *{
  color:white;
}

nav .allcatTable:hover{
  background: #397536;
}

nav .allcatTable text{
  font-weight: 400;
}

nav .allcatTable svg {
  font-size:20px;

}

nav .allcatTable .icon1 svg{
  font-size:20px;
}

nav .allcatTable .icon2 svg{
  font-size:20px;
}

nav .navPart1 .catWrapper{
  position: relative;
}

nav .navPart1 .catWrapper .sidebarNav {
  width: 100%;
  height: 0px;
  opacity: 0;
  background: #fff;
  position: absolute;
  top: 164%;
  left:0px;
  border: 1px solid rgba(0, 0, 0, 0.1) ;
  padding:15px 0px ;
  transition: all 0.2s;
  visibility: hidden;
  z-index: 1;
  
}

nav .navPart1 .catWrapper .sidebarNav.open{
  height: auto;
  opacity: 1;
  visibility: inherit;
}


nav .navPart1 .catWrapper .sidebarNav ul li {
  width: 100%;
  list-style:none ;
  padding: 10px 15px;

}

nav .navPart1 .catWrapper .sidebarNav ul li button {
  color: #000;
  width: 100%;
  justify-content:flex-start ;
  text-transform: capitalize;
}

nav .navPart1 .catWrapper .sidebarNav ul li button:hover{
  background: transparent;
}


nav .navPart1 .catWrapper .sidebarNav ul li {
  position: static;
}

nav .navPart1 .catWrapper .sidebarNav ul li .submenu{
  position: absolute;
  top: 0px;
  left: 110%;
  width:250px ;
  height: auto;
  background: #fff;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid rgba(0, 0, 0, 0.1) ;
  padding: 20px;
}

nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu{
  opacity: 1;
  visibility: inherit;
  left: 100%;
}

nav .navPart1 .catWrapper .sidebarNav ul li .submenu button{
  border-radius: 0px;
  
}

nav .navPart1 .catWrapper .sidebarNav ul li button svg{
  font-size: 15px;
  opacity: 0.8;
}

nav .navPart2 ul{
  margin-bottom: 0px;
/* stolem code */
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
/* stolem code */
}

nav .navPart2 ul li{
  padding-bottom: 10px;
}

nav .navPart2 ul li a{
  text-decoration: none;
}


nav .navPart2 ul li a Button{
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 15px 15px;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
}

nav .navPart2 ul li a Button:hover{
  background:#739a71;
  color: white;
  /* text-decoration: none; */
  
}

nav .navPart2 ul li a svg{
  font-size:20px;
  margin-right: 10px;
  
}

nav .navPart2 ul li{
  position: relative;
}

nav .navPart2 ul li .submenu{
  position: absolute;
  top: 130%;
  left:0px;
  min-width: 200px;
  background: #fff ;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2 ease-in-out;
  z-index: 1;
}



nav .navPart2 ul li .submenu a{
  display: block;
  width: 100%;
}

nav .navPart2 ul li .submenu a button {
  width: 100%;
  justify-content: flex-start !important;
  border-radius: 0px !important;
  text-transform: capitalize;
  font-weight: 600;
}

nav .navPart2 ul li .submenu a button:hover{
  background: #f1f1f1;
  color: rgba(0, 0, 0, 0.8);
}

nav .navPart2 ul li:hover .submenu{
  opacity: 1;
  visibility: inherit;
  top: 100%;
  z-index: 1;
}

.homeBannerSection {
  position: relative;
}

.homeBannerSection .swiper{
 overflow: inherit !important; 
}

.homeBannerSection .mySwiper .item{
  border-radius: 10px !important;
}

.homeBannerSection *{
  outline: none !important;
}

.homeBannerSection .slick-arrow{
  position: absolute;
  top: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #253d1e;
  border-radius: 100%;
}

.homeBannerSection .slick-arrow.slick-next{
  right: 25px;
  
}

.homeBannerSection .slick-arrow.slick-prev{
  left: 25px;
}

.homeProducts {
  padding: 25px 0px;
  width: 100%;
}

.homeProducts .banner{
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.productRow .hd{
  font-size: 25px;
  font-weight: 600;
}

.viewAllBtn{
  padding: 10px 15px !important;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 30px !important;
  color: rgba(0, 0, 0, 0.8) !important;
  font-weight: 500 !important; 
  text-transform: capitalize;
}

.viewAllBtn svg{
  font-size: 15px;
  margin-left: 5px;
}

.productItem{
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;

}

.productItem .badge{
  display: inline-block;
  padding: 8px 12px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.productItem h4{
  font-size: 16px;
  font-weight: 600;

}

.productItem .info{
  padding: 15px;
}

.productItem .oldPrice{
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: line-through;
}

.productItem .info .newPrice{
  font-size: 18px;
  font-weight: bold;
}

.productRow .productItem{
  border-right: 1px solid transparent !important;
}

.productRow .swiper-slide:last-child .item{
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.swiper{
  padding-right: 1px !important;
}

.badge-success{
  display: inline-block;
  padding: 7px 10px;
  border-radius: 20px;
  background: #47763e;
}

.badge-primary{
  background: #da0000;
}

.productItem .actions{
 position: absolute;
 top: 10px;
 right: -100%;
 z-index: 100;
 display: flex;
 transition: all 0.3s ease-in-out;
}

.productItem .actions .button{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) ;
  border-radius: 50% !important;
  background: #fff;
 
}

.productItem .actions .button svg {
  font-size: 19px;
  color: #000;
  pointer-events: none;
}

.productItem .actions .button:hover svg {
  fill: #7f0000;
}


.productItem {
  overflow: hidden;
}

.productItem .imgWrapper img{
  transition: all 0.3s ease-in-out;
}

.productItem .imgWrapper:hover .actions {
  opacity: 1;
  right: 10px;
}

.productItem .imgWrapper:hover img{
  transform: scale(1.1);
}

.homeCat{
  padding: 35px 0px;
  
}

.homeCat .swiper .item{
  padding: 15px;
  width: 100%;
  height: auto;
  background: #afc3ab;
  border-radius: 10px;
  cursor: pointer;
  
}

.homeCat .swiper .item img{
  width: 100%; 
}

.homeCat .swiper .item h4 {
  font-size: 22px;
  margin-top: 5px;
}

.homeCat .swiper {
  overflow: inherit !important;
}

.homeCat .swiper-button-prev, .homeCat .swiper-button-next {
  top: -40px !important;
  width: 20px;
  height: 20px;
}

.homeCat .swiper-button-prev{
  right: 100px !important;
  left: inherit;
}

.productRow2 {
  flex-wrap: wrap;
  gap: 10px;
}

.productRow2 .info{
  display: block !important;
}

.productRow2 .productItem {
  width: 23% !important;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.bannerSec{
  gap: 15px;
}

.sticky {
  position: sticky;
  top: 10px;
  z-index: 100;
}

.newsLetterSection{
  width: 100%;
  height: 400px;
  background: #2c5f29;
}

.newsLetterSection p {
  font-size: 18px;
  margin: 10px 0px;
}

.newsLetterSection h3 {
  font-size: 30px;
  font-weight: bold;
}

.newsLetterSection p.text-light{
  color: #fff;
  opacity: 0.5;
  font-size: 15px;
}

.newsLetterSection form{
  width: 100%;
  height: 60px;
  background: white;
  padding: 10px;
  position: relative;
  border-radius: 5px;
}

.newsLetterSection form svg{
  position: absolute;
  top: 17px;
  left: 10px;
  font-size: 25px;
  opacity: 0.5;
}

.newsLetterSection form input{
  width: 100%;
  height: 100%;
  background: white;
  outline: none;
  border: 0px;
  padding-left: 40px;
  padding-right: 200px;
}

.newsLetterSection form button {
  position: absolute;
  top: 7px;
  right: 7px;
  background:#2c5f29; 
  font-size: 14px;
  padding: 10px 25px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
}

footer{
  width: 100%;
  height: 500px;
  margin: auto;
  background: #fff;
  padding: 25px 0px;
}

footer .topInfo{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

footer .topInfo .col{
  padding: 15px 15px;
  padding-left: 80px;
}

footer .topInfo .col svg{
  font-size: 24px;
}

footer .topInfo .col span{
  font-size: 20px;
  font-weight: 600;
}

footer .linkWrapper h5{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

footer .linkWrapper ul li{
  list-style-type: none;
  margin-bottom: 10px;
}

footer .linkWrapper ul li a{
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}

footer .linkWrapper ul li a:hover{
  text-decoration: none;
  color: #000;
}

footer .copyright ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

footer .copyright ul li a svg{
  font-size: 30px;
  color:#2c5f29;
}

.productListingPage {
  padding: 45px 0px;
}

.productListingPage .productListing{
  gap: 20px;
}

.productListingPage .productListing .sidebar .sticky{
  position:sticky;
  top: 20px;
}

.productListingPage .productListing .sidebar {
  width: 20%;
  flex: 0 0 20%;
}

.productListingPage .productListing .sidebar .filterBox{
  margin-bottom: 35px;
}

.productListingPage .productListing .sidebar .filterBox h5{
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 15px;
}


.productListingPage .productListing .contentRight{
  width: 80%;
  flex: 0 0 80%;
  padding-left:35px;
}

.css-1umw9bq-MuiSvgIcon-root{
  padding: 2px !important;
}

.productListingPage .productListing .sidebar .scroll {
  padding-left: 0px;
  max-height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.productListingPage .productListing .sidebar .scroll::-webkit-scrollbar{
  width:5px;
  height: 5px;
}

.productListingPage .productListing .sidebar .scroll ul{
  margin-bottom: 0px;
}

.productListingPage .productListing .sidebar .scroll ul li {
  list-style-type: none;
  margin-bottom: -15px; 
  width: 100%;
}

.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked{
  color: #253d1e !important;
}

.range-slider{
  height: 5px !important;
}

.range-slider .range-slider__thumb, .range-slider .range-slider__range{
  background: #2c5f29 !important;
}

.range-slider .range-slider__thumb{
  width: 15px !important;
  height: 15px !important;
}

.productListingPage .productListing .contentRight .showBy{
  width: 100%;
  height: auto;
  background: #e7f4e6;
  padding: 15px 25px;
}

.productListingPage .productListing .contentRight{
  width: 75%;
  flex: 0 0 75%;
  padding-left:35px;
}

.productListingPage .productListing .contentRight .showBy .btnWrapper button{
min-width: 30PX !important;
height: 30px !important;
border-radius: 50%;
color: #000;
width: 35px;
}

.productListingPage .productListing .contentRight .showBy .btnWrapper button svg{
  color: #000;
  font-size: 18px;
  opacity: 0.7;
}

.productListingPage .productListing .contentRight .showBy .btnWrapper button:hover svg{
  opacity: 1;
}

.productListing {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.productListing .productItem.four{
  width: 23%;
}

.productListing .productItem.three{
  width: 31%;
}
.productListing .productItem.two{
  width: 48%;
}
.productListing .productItem.one{
  width: 100%;
  display: flex;
  align-items: center;
}

.productListing .productItem .one .imgWrapper{
width: 40%;
}


 .section {
  padding: 45px 0px;
 }

 .productDetails .hd{
  font-size: 26px;
 }

 .productDetails .oldPrice{
  font-size: 18px;
  text-decoration: line-through;
 }

 .productDetails .newPrice{
  font-size: 22px;
 }

 .btn-green{
  background: #253d1e !important;
  color: #fbfbfb !important;
  border-radius: 20px !important;
  padding: 10px 20px !important;
 }

 .btn-green svg{
  font-size: 20px;
  margin-right: 5px;
 }

 .productSize{
  width: 100%;
  height: auto;
  padding: 25px 0px;
 }

 .productSize ul li{
  margin-right: 10px !important;
 }

 .productSize ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px !important;
  cursor: pointer;
  text-decoration: none !important;
  color: #000;
  font-size: 14px !important;
  transition: all 0.1s ease-in-out;
 }

 .productSize ul li a:hover{
  background: #ececec;
 }

 .productSize ul li a.active{
  background: #47763e !important;
  color: #f1f1f1;
 }

 .productDetails .btn-fav,  .productDetails .btn-cmp {
  min-width:auto !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #000000;
  margin-left: 20px;
  opacity: 0.7;
  background: rgba(125, 125, 125, 0.1);
 }

 .productDetails svg{
  font-size: 18px;
 }


 .productDetails .btn:hover{
  background: rgba(0, 0, 0, 0.1);
 }

 .productDetails .btn-fav:hover{
  color:#9c0000;
  opacity: 1;
 }


 .productDetails .btn .btn-fav svg {
  color: #9c0000;
 }

 .productDetails .btn-cmp svg {
  color: #000000;
 }

 .productDetails h3.hd{
  font-size: 25px;
 }

 .detailsPageTabs {
  background-color: #f9f6ff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  width: 75%;
}

.customTabs {
  text-align: center;
}

.customTabs ul {
  display: flex;
  /* justify-content: center; */
  gap: 15px;
  padding: 0;
  list-style: none;
}

.customTabs li {
  display: inline-block;
}

.customTabs button {
  background-color: #e7e3fc;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.customTabs button:hover,
.customTabs button.active {
  background-color: #287426;
  color: white;
}

.tabContent {
  margin-top: 15px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  font-size: 14px;
  color: #bfb8b8;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 0px;
  padding: 10px;
  text-align: left;
  
}


.review {
  padding: 10px 0;
}

.review-name {
  font-weight: bold;
  font-size: 16px;
}

.review-date {
  font-size: 12px;
  color: gray;
}

.review-text {
  font-size: 14px;
  margin: 5px 0;
}

.review-stars {
  color: orange;
  font-size: 18px;
}

.cartPage .table thead{
background: #cccccc !important;
border-radius: 20px !important;
}

.cartPage .table thead th{
  border: 0px !important;
}

.cartPage .table thead th:first-child{
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.cartPage .table thead th:last-child{
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;

}

.cartItemImgWrapper{
width: 380px;
}

.cartItemImgWrapper .imgWrapper{
  width: 100px;
  overflow: hidden;
}

a{
  text-decoration: none;
}
 a:hover{
  text-decoration: none;
}

.cartItemImgWrapper .info h6{
  color: #000;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.cartItemImgWrapper .info h6:hover{
  color: #287426;
}

.css-1orsvah-MuiTypography-root-MuiLink-root{
  text-decoration: none !important; 
}

.cartItemImgWrapper a:hover{
  text-decoration: none;
}

.remove{
  cursor: pointer;
}

.remove svg{
  font-size: 25px;
}

.remove:hover svg{
  color: #7f0000;
}

/* .cartPage .quantityDrop button{
  zoom: 75%;
} */

.cartPage table th, .cartPage table td{
  vertical-align: middle;
}

.cartPage .table td, .cartPage .table th{
  border-top: 0px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cartPage table tbody tr:hover{
  background: #f1f1f1;
}

.cardDetails{
  border-radius: 7px;
}

.cardDetails h4{
  font-size: 16px;
  padding-bottom: 15px;
  font-weight: 800;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* .cardDetails span{

} */

.cardDetails .btn-checkout{
  background: #ff7700;
  color: #fff;
  margin-top: 20px;
  font-weight: bold;
}

.cardDetails .btn-checkout:hover{
  background: #da6600;
}